<!DOCTYPE html>
<html>

<head>
    <title>Bonificaciones</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>


    <nav>
        <div class="nav-wrapper" style="background-color: #363636;">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/inicio/">Inicio</a></li>
                <li><a href="/bonos/{{name}}">Bonificaciones</a></li>
                <li><a class="modal-trigger" href="#modal2">Grupo Familia</a></li>
            </ul>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content center">
            <p>Tienes: {{cantidad}} Puntos</p>
        </div>
        </form>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content center">
            <h5>Buena elección</h5>
            <p>Podrás recoger tu bien en nuestras instalaciones. ¡Te esperamos!</p>
            <p>Tu puntaje actual: 3000</p>
        </div>
        </form>
    </div>
    <div class="row">
        {%for bonificacion in bono%}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image">
                            <img
                                src="{{bonificacion.imagen}}">
                                <form action="/redimir/{{name}}/{{bonificacion.valor}}" method="POST" onsubmit="return openmodal()">
                                    {% csrf_token %}
                                    <button id="submit" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i
                                        class="material-icons">add</i></button>
                                </form>
                        </div>
                        <div class="card-content">
                            <p>{{bonificacion.nombre}}</p>
                            <p>Valor: {{bonificacion.valor}} Puntos</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <script>  document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.modal').modal();
        });
    </script>
    <script>  document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('select').formSelect();
        });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function openmodal(){
            alert("Buena elección\nPodrás recoger tu bien en nuestras instalaciones. ¡Te esperamos!")
            //alert("Podrás recoger tu bien en nuestras instalaciones. ¡Te esperamos!")            
            //console.log(document.getElementById("modal3").innerHTML;)
            const openEls = document.querySelectorAll("[data-open]");
            const isVisible = "is-visible";

            for(const el of openEls) {
                el.addEventListener("click", function() {
                    const modalId = this.dataset.open;
                    document.getElementById(modal3).classList.add(isVisible);
                });
            }

            isVisible = "is-visible";

            document.addEventListener("click", e => {
                if (e.target == document.querySelector(".modal.is-visible")) {
                    document.querySelector(".modal.is-visible").classList.remove(isVisible);
                }
            });
        }
    </script>
</body>

</html>